@font-face {
    font-family: GILROY-BOLD;
    src: url("./fonts/GILROY-BOLD.OTF");
}
@font-face {
    font-family: GILROY-LIGHT;
    src: url("./fonts/GILROY-LIGHT.OTF");
}
@font-face {
    font-family: GILROY-MEDIUM;
    src: url("./fonts/GILROY-MEDIUM.OTF");
}
@font-face {
    font-family: GILROY-REGULAR;
    src: url("./fonts/GILROY-REGULAR.OTF");
}
@font-face {
    font-family: SVN-Gotham-Regular;
    src: url("./fonts/SVN-Gotham-Regular.otf");
}
